{
  "openapi": "3.0.0",
  "info": {
    "title": "eigi.ai API",
    "description": "REST API for managing AI voice agents and conversations",
    "version": "1.0.0",
    "contact": {
      "email": "support@eigi.ai",
      "url": "https://eigi.ai"
    }
  },
  "servers": [
    {
      "url": "https://prod.eigi.ai/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authentication. Get your API key from the eigi.ai Dashboard under Settings → API Keys."
      }
    },
    "schemas": {
      "Conversation": {
        "type": "object",
        "properties": {
          "conversation_id": {
            "type": "string",
            "description": "Unique identifier for the conversation"
          },
          "agent_id": {
            "type": "string",
            "description": "ID of the agent that handled this conversation"
          },
          "conversation_type": {
            "type": "string",
            "enum": ["DAILY", "TELEPHONY", "WHATSAPP", "CHAT"],
            "description": "Type of conversation"
          },
          "conversation_status": {
            "type": "string",
            "enum": ["IN_PROGRESS", "COMPLETED", "DISCONNECTED", "FAILED"],
            "description": "Current status of the conversation"
          },
          "calling_type": {
            "type": "string",
            "enum": ["INBOUND", "OUTBOUND"],
            "description": "Direction of the call"
          },
          "mobile_number": {
            "type": "string",
            "description": "Phone number involved in the conversation"
          },
          "duration": {
            "type": "number",
            "description": "Total duration of the conversation in seconds"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the conversation was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the last update"
          },
          "transcript": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Array of conversation messages"
          },
          "analysis": {
            "type": "object",
            "description": "AI-generated analysis of the conversation"
          },
          "metadata": {
            "type": "object",
            "description": "Custom metadata"
          }
        }
      },
      "OutboundCallRequest": {
        "type": "object",
        "required": ["agent_id", "params"],
        "properties": {
          "agent_id": {
            "type": "string",
            "description": "The ID of the AI agent to use for the call",
            "example": "68ea2517dbb84c09bae1ba0a"
          },
          "params": {
            "type": "array",
            "description": "Array of call parameter objects",
            "items": {
              "type": "object",
              "required": ["mobile_number"],
              "properties": {
                "mobile_number": {
                  "type": "string",
                  "description": "Phone number to call in E.164 format",
                  "example": "+919876543210"
                },
                "metadata": {
                  "type": "object",
                  "description": "Custom metadata to attach to the conversation",
                  "example": {
                    "customer_name": "John Doe",
                    "customer_id": "CUST-12345"
                  }
                }
              }
            }
          },
          "telephony_provider": {
            "type": "string",
            "enum": ["PLIVO", "TWILIO"],
            "default": "PLIVO",
            "description": "Telephony provider to use"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  },
  "paths": {
    "/public/conversations/{conversation_id}": {
      "get": {
        "summary": "Get Conversation by ID",
        "description": "Retrieve detailed information about a specific conversation using its unique ID",
        "operationId": "getConversation",
        "tags": ["Conversations"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier (UUID format) of the conversation to retrieve",
            "schema": {
              "type": "string"
            },
            "example": "35d33a43-176c-405c-92bf-db972035df28"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved conversation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - API key owner doesn't have access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Conversation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/public/conversations": {
      "get": {
        "summary": "List Conversations",
        "description": "Retrieve a paginated list of conversations with comprehensive filtering options",
        "operationId": "listConversations",
        "tags": ["Conversations"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (minimum: 1)",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Items per page (minimum: 1, maximum: 100)",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search text in conversation metadata",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversation_id",
            "in": "query",
            "description": "Filter by specific conversation ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "description": "Filter by specific agent ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversation_type",
            "in": "query",
            "description": "Filter by conversation type",
            "schema": {
              "type": "string",
              "enum": ["DAILY", "TELEPHONY", "WHATSAPP", "CHAT"]
            }
          },
          {
            "name": "calling_type",
            "in": "query",
            "description": "Filter by call direction",
            "schema": {
              "type": "string",
              "enum": ["INBOUND", "OUTBOUND"]
            }
          },
          {
            "name": "conversation_status",
            "in": "query",
            "description": "Filter by conversation status",
            "schema": {
              "type": "string",
              "enum": ["IN_PROGRESS", "COMPLETED", "DISCONNECTED", "FAILED"]
            }
          },
          {
            "name": "from_date",
            "in": "query",
            "description": "Filter conversations created on or after this date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "description": "Filter conversations created on or after this date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "from_time",
            "in": "query",
            "description": "Filter by time of day - start time (HH:MM format)",
            "schema": {
              "type": "string",
              "pattern": "^([0-1][0-9]|2[0-3]):[0-5][0-9]$"
            }
          },
          {
            "name": "to_time",
            "in": "query",
            "description": "Filter by time of day - end time (HH:MM format)",
            "schema": {
              "type": "string",
              "pattern": "^([0-1][0-9]|2[0-3]):[0-5][0-9]$"
            }
          },
          {
            "name": "timezone_offset",
            "in": "query",
            "description": "Timezone offset in minutes from UTC (default: 330 for IST)",
            "schema": {
              "type": "integer",
              "default": 330
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved conversations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "conversations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Conversation"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "page_size": {
                      "type": "integer"
                    },
                    "total_pages": {
                      "type": "integer"
                    },
                    "has_next": {
                      "type": "boolean"
                    },
                    "has_previous": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/public/calls/outbound": {
      "post": {
        "summary": "Initiate Outbound Call",
        "description": "Create and initiate one or more outbound calls to phone numbers using AI voice agents",
        "operationId": "createOutboundCall",
        "tags": ["Calls"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OutboundCallRequest"
              },
              "examples": {
                "single_call": {
                  "summary": "Single outbound call",
                  "value": {
                    "agent_id": "68ea2517dbb84c09bae1ba0a",
                    "params": [
                      {
                        "mobile_number": "+919876543210",
                        "metadata": {
                          "customer_name": "John Doe",
                          "customer_id": "CUST-12345"
                        }
                      }
                    ],
                    "telephony_provider": "PLIVO"
                  }
                },
                "multiple_calls": {
                  "summary": "Multiple outbound calls",
                  "value": {
                    "agent_id": "68ea2517dbb84c09bae1ba0a",
                    "params": [
                      {
                        "mobile_number": "+919876543210",
                        "metadata": {
                          "customer_name": "John Doe"
                        }
                      },
                      {
                        "mobile_number": "+918765432109",
                        "metadata": {
                          "customer_name": "Jane Smith"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Calls initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Outbound calls initiated successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Not authorized or quota exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "User or agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  }
}
