{
  "openapi": "3.0.0",
  "info": {
    "title": "eigi.ai API",
    "description": "REST API for managing AI voice agents and conversations",
    "version": "1.0.0",
    "contact": {
      "email": "support@eigi.ai",
      "url": "https://eigi.ai"
    }
  },
  "servers": [
    {
      "url": "https://prod.eigi.ai",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authentication. Get your API key from the eigi.ai Dashboard under Settings → API Keys."
      }
    },
    "schemas": {
      "Conversation": {
        "type": "object",
        "properties": {
          "conversation_id": {
            "type": "string",
            "description": "Unique identifier for the conversation"
          },
          "agent_id": {
            "type": "string",
            "description": "ID of the agent that handled this conversation"
          },
          "conversation_type": {
            "type": "string",
            "enum": ["DAILY", "TELEPHONY", "WHATSAPP", "CHAT"],
            "description": "Type of conversation"
          },
          "conversation_status": {
            "type": "string",
            "enum": ["IN_PROGRESS", "COMPLETED", "DISCONNECTED", "FAILED"],
            "description": "Current status of the conversation"
          },
          "calling_type": {
            "type": "string",
            "enum": ["INBOUND", "OUTBOUND"],
            "description": "Direction of the call"
          },
          "mobile_number": {
            "type": "string",
            "description": "Phone number involved in the conversation"
          },
          "duration": {
            "type": "number",
            "description": "Total duration of the conversation in seconds"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the conversation was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the last update"
          },
          "transcript": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Array of conversation messages"
          },
          "analysis": {
            "type": "object",
            "description": "AI-generated analysis of the conversation"
          },
          "metadata": {
            "type": "object",
            "description": "Custom metadata"
          }
        }
      },
      "OutboundCallRequest": {
        "type": "object",
        "required": ["agent_id", "params"],
        "properties": {
          "agent_id": {
            "type": "string",
            "description": "The ID of the AI agent to use for the call",
            "example": "68ea2517dbb84c09bae1ba0a"
          },
          "params": {
            "type": "array",
            "description": "Array of call parameter objects",
            "items": {
              "type": "object",
              "required": ["mobile_number"],
              "properties": {
                "mobile_number": {
                  "type": "string",
                  "description": "Phone number to call in E.164 format",
                  "example": "+919876543210"
                },
                "metadata": {
                  "type": "object",
                  "description": "Custom metadata to attach to the conversation",
                  "example": {
                    "customer_name": "John Doe",
                    "customer_id": "CUST-12345"
                  }
                }
              }
            }
          },
          "telephony_provider": {
            "type": "string",
            "enum": ["PLIVO", "TWILIO"],
            "default": "PLIVO",
            "description": "Telephony provider to use"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "description": "Error message"
          }
        }
      },
      "ChatRequest": {
        "type": "object",
        "required": ["agent_id", "message"],
        "properties": {
          "agent_id": {
            "type": "string",
            "description": "The ID of the agent to chat with",
            "example": "68ea2517dbb84c09bae1ba0a"
          },
          "message": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4000,
            "description": "User message to send to the agent",
            "example": "Hello, how can you help me?"
          },
          "session_id": {
            "type": "string",
            "description": "Session ID for continuing a conversation (created if not provided)",
            "example": "58a6b549-ef07-4a31-86bc-0eb0e026840a"
          },
          "streaming": {
            "type": "boolean",
            "default": true,
            "description": "If true, response streams in real-time. If false, returns complete JSON response."
          },
          "metadata": {
            "type": "object",
            "description": "Additional metadata for the conversation",
            "example": {
              "user_id": "user_123",
              "source": "website"
            }
          }
        }
      },
      "ChatResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string",
            "description": "The AI agent's response"
          },
          "session_id": {
            "type": "string",
            "description": "Session ID for subsequent messages"
          }
        }
      },
      "ChatSession": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique session identifier"
          },
          "object": {
            "type": "string",
            "example": "chat.session"
          },
          "created_at": {
            "type": "integer",
            "description": "Unix timestamp of creation"
          },
          "updated_at": {
            "type": "integer",
            "description": "Unix timestamp of last update"
          },
          "agent_id": {
            "type": "string",
            "description": "ID of the agent handling this session"
          },
          "conversation_name": {
            "type": "string",
            "description": "Name of the conversation"
          },
          "message_count": {
            "type": "integer",
            "description": "Total messages in session"
          },
          "metadata": {
            "type": "object",
            "description": "Custom metadata"
          }
        }
      },
      "ChatSessionDetail": {
        "type": "object",
        "properties": {
          "session_id": {
            "type": "string",
            "description": "Unique session identifier"
          },
          "agent_id": {
            "type": "string",
            "description": "ID of the agent"
          },
          "status": {
            "type": "string",
            "enum": ["IN_PROGRESS", "COMPLETED", "DISCONNECTED", "FAILED"],
            "description": "Session status"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string",
                  "enum": ["user", "assistant"]
                },
                "content": {
                  "type": "string"
                },
                "timestamp": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "message_count": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "FirstMessageResponse": {
        "type": "object",
        "properties": {
          "session_id": {
            "type": "string",
            "description": "New session ID for the chat"
          },
          "first_message": {
            "type": "string",
            "description": "Agent's greeting message"
          },
          "agent_id": {
            "type": "string",
            "description": "The agent ID"
          }
        }
      }
    }
  },
  "paths": {
    "/v1/public/conversations/{conversation_id}": {
      "get": {
        "summary": "Get Conversation by ID",
        "description": "Retrieve detailed information about a specific conversation using its unique ID",
        "operationId": "getConversation",
        "tags": ["Conversations"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier (UUID format) of the conversation to retrieve",
            "schema": {
              "type": "string"
            },
            "example": "35d33a43-176c-405c-92bf-db972035df28"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved conversation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - API key owner doesn't have access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Conversation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/conversations": {
      "get": {
        "summary": "List Conversations",
        "description": "Retrieve a paginated list of conversations with comprehensive filtering options",
        "operationId": "listConversations",
        "tags": ["Conversations"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (minimum: 1)",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Items per page (minimum: 1, maximum: 100)",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search text in conversation metadata",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversation_id",
            "in": "query",
            "description": "Filter by specific conversation ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "description": "Filter by specific agent ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversation_type",
            "in": "query",
            "description": "Filter by conversation type",
            "schema": {
              "type": "string",
              "enum": ["DAILY", "TELEPHONY", "WHATSAPP", "CHAT"]
            }
          },
          {
            "name": "calling_type",
            "in": "query",
            "description": "Filter by call direction",
            "schema": {
              "type": "string",
              "enum": ["INBOUND", "OUTBOUND"]
            }
          },
          {
            "name": "conversation_status",
            "in": "query",
            "description": "Filter by conversation status",
            "schema": {
              "type": "string",
              "enum": ["IN_PROGRESS", "COMPLETED", "DISCONNECTED", "FAILED"]
            }
          },
          {
            "name": "from_date",
            "in": "query",
            "description": "Filter conversations created on or after this date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "description": "Filter conversations created on or after this date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "from_time",
            "in": "query",
            "description": "Filter by time of day - start time (HH:MM format)",
            "schema": {
              "type": "string",
              "pattern": "^([0-1][0-9]|2[0-3]):[0-5][0-9]$"
            }
          },
          {
            "name": "to_time",
            "in": "query",
            "description": "Filter by time of day - end time (HH:MM format)",
            "schema": {
              "type": "string",
              "pattern": "^([0-1][0-9]|2[0-3]):[0-5][0-9]$"
            }
          },
          {
            "name": "timezone_offset",
            "in": "query",
            "description": "Timezone offset in minutes from UTC (default: 330 for IST)",
            "schema": {
              "type": "integer",
              "default": 330
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved conversations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "conversations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Conversation"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "page_size": {
                      "type": "integer"
                    },
                    "total_pages": {
                      "type": "integer"
                    },
                    "has_next": {
                      "type": "boolean"
                    },
                    "has_previous": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/calls/outbound": {
      "post": {
        "summary": "Initiate Outbound Call",
        "description": "Create and initiate one or more outbound calls to phone numbers using AI voice agents",
        "operationId": "createOutboundCall",
        "tags": ["Conversations"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OutboundCallRequest"
              },
              "examples": {
                "single_call": {
                  "summary": "Single outbound call",
                  "value": {
                    "agent_id": "68ea2517dbb84c09bae1ba0a",
                    "params": [
                      {
                        "mobile_number": "+919876543210",
                        "metadata": {
                          "customer_name": "John Doe",
                          "customer_id": "CUST-12345"
                        }
                      }
                    ],
                    "telephony_provider": "PLIVO"
                  }
                },
                "multiple_calls": {
                  "summary": "Multiple outbound calls",
                  "value": {
                    "agent_id": "68ea2517dbb84c09bae1ba0a",
                    "params": [
                      {
                        "mobile_number": "+919876543210",
                        "metadata": {
                          "customer_name": "John Doe"
                        }
                      },
                      {
                        "mobile_number": "+918765432109",
                        "metadata": {
                          "customer_name": "Jane Smith"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Calls initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Outbound calls initiated successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Not authorized or quota exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "User or agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/chat": {
      "post": {
        "summary": "Send Chat Message",
        "description": "Send a message to an AI agent and receive a response with optional streaming",
        "operationId": "sendChatMessage",
        "tags": ["Chat"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatRequest"
              },
              "examples": {
                "streaming": {
                  "summary": "Streaming chat request",
                  "value": {
                    "agent_id": "68ea2517dbb84c09bae1ba0a",
                    "message": "Hello, how can you help me?",
                    "streaming": true
                  }
                },
                "non_streaming": {
                  "summary": "Non-streaming chat request",
                  "value": {
                    "agent_id": "68ea2517dbb84c09bae1ba0a",
                    "message": "What are your business hours?",
                    "streaming": false
                  }
                },
                "with_session": {
                  "summary": "Continue existing conversation",
                  "value": {
                    "agent_id": "68ea2517dbb84c09bae1ba0a",
                    "session_id": "58a6b549-ef07-4a31-86bc-0eb0e026840a",
                    "message": "Tell me more about that",
                    "streaming": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat response (JSON for non-streaming, text/plain stream for streaming)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Streaming response text"
                }
              }
            },
            "headers": {
              "X-Session-ID": {
                "description": "Session ID for subsequent messages (streaming mode)",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Agent has no LLM configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied to agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/chat/sessions": {
      "get": {
        "summary": "List Chat Sessions",
        "description": "Retrieve a paginated list of all chat sessions for your agents",
        "operationId": "listChatSessions",
        "tags": ["Chat"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (minimum: 1)",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Items per page (minimum: 1, maximum: 100)",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "description": "Filter sessions by agent ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved chat sessions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ChatSession"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "page_size": {
                      "type": "integer"
                    },
                    "total_pages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied to agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/chat/sessions/{session_id}": {
      "get": {
        "summary": "Get Chat Session",
        "description": "Retrieve complete details and messages for a specific chat session",
        "operationId": "getChatSession",
        "tags": ["Chat"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "description": "The unique session ID",
            "schema": {
              "type": "string"
            },
            "example": "58a6b549-ef07-4a31-86bc-0eb0e026840a"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved chat session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatSessionDetail"
                }
              }
            }
          },
          "400": {
            "description": "Session is not a chat session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied to session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/agents/{agent_id}/first-message": {
      "get": {
        "summary": "Get First Message",
        "description": "Retrieve the agent's greeting message to initialize a chat session",
        "operationId": "getFirstMessage",
        "tags": ["Chat"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "description": "The unique agent ID",
            "schema": {
              "type": "string"
            },
            "example": "68ea2517dbb84c09bae1ba0a"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved first message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FirstMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied to agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  }
}
