{
  "openapi": "3.0.0",
  "info": {
    "title": "eigi.ai API",
    "description": "REST API for managing AI voice agents and conversations",
    "version": "1.0.0",
    "contact": {
      "email": "buddy@eigi.ai",
      "url": "https://eigi.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.eigi.ai",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authentication. Get your API key from the eigi.ai Dashboard under Settings \u00e2\u2020\u2019 API Keys."
      }
    },
    "schemas": {
      "Conversation": {
        "type": "object",
        "properties": {
          "conversation_id": {
            "type": "string",
            "description": "Unique identifier for the conversation"
          },
          "agent_id": {
            "type": "string",
            "description": "ID of the agent that handled this conversation"
          },
          "conversation_type": {
            "type": "string",
            "enum": ["DAILY", "TELEPHONY", "WHATSAPP", "CHAT"],
            "description": "Type of conversation"
          },
          "conversation_status": {
            "type": "string",
            "enum": ["IN_PROGRESS", "COMPLETED", "DISCONNECTED", "FAILED"],
            "description": "Current status of the conversation"
          },
          "calling_type": {
            "type": "string",
            "enum": ["INBOUND", "OUTBOUND"],
            "description": "Direction of the call"
          },
          "mobile_number": {
            "type": "string",
            "description": "Phone number involved in the conversation"
          },
          "duration": {
            "type": "number",
            "description": "Total duration of the conversation in seconds"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the conversation was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the last update"
          },
          "transcript": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Array of conversation messages"
          },
          "analysis": {
            "type": "object",
            "description": "AI-generated analysis of the conversation"
          },
          "metadata": {
            "type": "object",
            "description": "Custom metadata"
          }
        }
      },
      "OutboundCallRequest": {
        "type": "object",
        "required": ["agent_id", "params"],
        "properties": {
          "agent_id": {
            "type": "string",
            "description": "The ID of the AI agent to use for the call",
            "example": "68ea2517dbb84c09bae1ba0a"
          },
          "params": {
            "type": "array",
            "description": "Array of call parameter objects",
            "items": {
              "type": "object",
              "required": ["mobile_number"],
              "properties": {
                "mobile_number": {
                  "type": "string",
                  "description": "Phone number to call in E.164 format",
                  "example": "+919876543210"
                },
                "metadata": {
                  "type": "object",
                  "description": "Custom metadata to attach to the conversation",
                  "example": {
                    "customer_name": "John Doe",
                    "customer_id": "CUST-12345"
                  }
                }
              }
            }
          },
          "telephony_provider": {
            "type": "string",
            "enum": ["PLIVO", "TWILIO"],
            "default": "PLIVO",
            "description": "Telephony provider to use"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "description": "Error message"
          }
        }
      },
      "ChatRequest": {
        "type": "object",
        "required": ["agent_id", "message"],
        "properties": {
          "agent_id": {
            "type": "string",
            "description": "The ID of the agent to chat with",
            "example": "68ea2517dbb84c09bae1ba0a"
          },
          "message": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4000,
            "description": "User message to send to the agent",
            "example": "Hello, how can you help me?"
          },
          "session_id": {
            "type": "string",
            "description": "Session ID for continuing a conversation (created if not provided)",
            "example": "58a6b549-ef07-4a31-86bc-0eb0e026840a"
          },
          "streaming": {
            "type": "boolean",
            "default": true,
            "description": "If true, response streams in real-time. If false, returns complete JSON response."
          },
          "metadata": {
            "type": "object",
            "description": "Additional metadata for the conversation",
            "example": {
              "user_id": "user_123",
              "source": "website"
            }
          }
        }
      },
      "ChatResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string",
            "description": "The AI agent's response"
          },
          "session_id": {
            "type": "string",
            "description": "Session ID for subsequent messages"
          }
        }
      },
      "ChatSession": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique session identifier"
          },
          "object": {
            "type": "string",
            "example": "chat.session"
          },
          "created_at": {
            "type": "integer",
            "description": "Unix timestamp of creation"
          },
          "updated_at": {
            "type": "integer",
            "description": "Unix timestamp of last update"
          },
          "agent_id": {
            "type": "string",
            "description": "ID of the agent handling this session"
          },
          "conversation_name": {
            "type": "string",
            "description": "Name of the conversation"
          },
          "message_count": {
            "type": "integer",
            "description": "Total messages in session"
          },
          "metadata": {
            "type": "object",
            "description": "Custom metadata"
          }
        }
      },
      "ChatSessionDetail": {
        "type": "object",
        "properties": {
          "session_id": {
            "type": "string",
            "description": "Unique session identifier"
          },
          "agent_id": {
            "type": "string",
            "description": "ID of the agent"
          },
          "status": {
            "type": "string",
            "enum": ["IN_PROGRESS", "COMPLETED", "DISCONNECTED", "FAILED"],
            "description": "Session status"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string",
                  "enum": ["user", "assistant"]
                },
                "content": {
                  "type": "string"
                },
                "timestamp": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "message_count": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "FirstMessageResponse": {
        "type": "object",
        "properties": {
          "session_id": {
            "type": "string",
            "description": "New session ID for the chat"
          },
          "first_message": {
            "type": "string",
            "description": "Agent's greeting message"
          },
          "agent_id": {
            "type": "string",
            "description": "The agent ID"
          }
        }
      },
      "DynamicVariableDefinition": {
        "type": "object",
        "properties": {
          "variable_name": {
            "type": "string",
            "description": "Canonical key used in prompts and runtime payloads"
          },
          "required": {
            "type": "boolean",
            "description": "Whether a value must be provided before a call or session starts",
            "default": false
          },
          "field_type": {
            "type": "string",
            "enum": ["STRING", "NUMBER", "EMAIL", "PHONE"],
            "description": "Expected runtime value type for this variable"
          },
          "description": {
            "type": "string",
            "description": "Human and LLM guidance for what value should be provided"
          }
        }
      },
      "AgentDynamicVariablesResponse": {
        "type": "object",
        "properties": {
          "agent_id": {
            "type": "string",
            "description": "The agent ID"
          },
          "agent_name": {
            "type": "string",
            "description": "The agent name"
          },
          "dynamic_variables": {
            "type": "array",
            "description": "Normalized dynamic variable definitions configured for the agent",
            "items": {
              "$ref": "#/components/schemas/DynamicVariableDefinition"
            }
          }
        }
      },
      "PromptCreate": {
        "type": "object",
        "required": ["prompt_name", "prompt_content"],
        "properties": {
          "prompt_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Unique prompt name (1-100 characters)",
            "example": "customer_support_v1"
          },
          "prompt_content": {
            "type": "string",
            "minLength": 1,
            "description": "The prompt text content",
            "example": "You are a helpful customer support agent for TechCorp. Be polite, professional, and solve customer issues efficiently."
          },
          "prompt_metadata": {
            "type": "object",
            "description": "Metadata for the prompt",
            "properties": {
              "prompt_type": {
                "type": "string",
                "enum": ["main", "analysis"],
                "default": "main",
                "description": "Type of prompt: 'main' for agent prompts, 'analysis' for analysis prompts"
              }
            },
            "example": {
              "prompt_type": "main"
            }
          }
        }
      },
      "PromptUpdate": {
        "type": "object",
        "required": ["prompt_content"],
        "properties": {
          "prompt_content": {
            "type": "string",
            "minLength": 1,
            "description": "New prompt text content",
            "example": "You are an expert customer support agent for TechCorp with 10 years of experience."
          },
          "prompt_metadata": {
            "type": "object",
            "description": "Updated metadata for the prompt",
            "properties": {
              "prompt_type": {
                "type": "string",
                "enum": ["main", "analysis"],
                "description": "Type of prompt: 'main' or 'analysis'"
              }
            }
          }
        }
      },
      "PromptResponse": {
        "type": "object",
        "properties": {
          "prompt_name": {
            "type": "string",
            "description": "Unique prompt name"
          },
          "prompt_version": {
            "type": "integer",
            "description": "Version number of the prompt"
          },
          "prompt_content": {
            "type": "string",
            "description": "The prompt text content"
          },
          "prompt_metadata": {
            "type": "object",
            "description": "Additional metadata"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          }
        }
      },
      "PromptVersionsResponse": {
        "type": "object",
        "properties": {
          "prompt_name": {
            "type": "string",
            "description": "Prompt name"
          },
          "versions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "prompt_version": {
                  "type": "integer",
                  "description": "Version number"
                },
                "prompt_content": {
                  "type": "string",
                  "description": "Prompt text content"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Version creation timestamp"
                }
              }
            },
            "description": "List of all versions (sorted by version descending)"
          },
          "total_versions": {
            "type": "integer",
            "description": "Total number of versions"
          }
        }
      },
      "PromptDeleteResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Success message"
          },
          "prompt_name": {
            "type": "string",
            "description": "Name of the deleted prompt"
          },
          "versions_deleted": {
            "type": "integer",
            "description": "Number of versions deleted"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Deletion timestamp"
          }
        }
      },
      "STTConfig": {
        "type": "object",
        "required": ["provider_name", "model_name", "language"],
        "properties": {
          "provider_name": {
            "type": "string",
            "enum": ["DEEPGRAM", "WHISPER"],
            "description": "STT provider name"
          },
          "model_name": {
            "type": "string",
            "description": "Model name for the STT provider",
            "example": "nova-2"
          },
          "language": {
            "type": "string",
            "description": "Language code (e.g., en, hi, es, fr)",
            "example": "en"
          },
          "params": {
            "type": "object",
            "description": "Must be empty for public API - no additional STT params allowed",
            "example": {}
          }
        }
      },
      "LLMConfig": {
        "type": "object",
        "required": ["provider_name", "model_name"],
        "properties": {
          "provider_name": {
            "type": "string",
            "enum": ["OPENAI", "ANTHROPIC", "GOOGLE", "GROK"],
            "description": "LLM provider name"
          },
          "model_name": {
            "type": "string",
            "description": "Model name for the LLM provider",
            "example": "gpt-4o"
          },
          "params": {
            "type": "object",
            "description": "Only 'temperature' (0.0-2.0) is allowed for public API",
            "properties": {
              "temperature": {
                "type": "number",
                "minimum": 0.0,
                "maximum": 2.0,
                "description": "Controls randomness (0.0-2.0)"
              }
            },
            "example": {
              "temperature": 0.7
            }
          }
        }
      },
      "TTSConfig": {
        "type": "object",
        "required": ["provider_name", "model_name", "language", "voice_id"],
        "properties": {
          "provider_name": {
            "type": "string",
            "enum": ["CARTESIA", "ELEVENLABS", "SARVAM", "GOOGLE", "HUME"],
            "description": "TTS provider name"
          },
          "model_name": {
            "type": "string",
            "description": "Model name for the TTS provider",
            "example": "sonic-2"
          },
          "language": {
            "type": "string",
            "description": "Language code (e.g., en, hi)",
            "example": "en"
          },
          "voice_id": {
            "type": "string",
            "description": "Voice ID from the TTS provider",
            "example": "a0e99841-438c-4a64-b679-ae501e7d6091"
          },
          "params": {
            "type": "object",
            "description": "Only 'speed' param is allowed for public API",
            "properties": {
              "speed": {
                "type": "number",
                "description": "Speech speed multiplier"
              }
            },
            "example": {
              "speed": 1.0
            }
          }
        }
      },
      "ToolsConfig": {
        "type": "object",
        "description": "Configure agent tools. Each tool can be true (enable), false (disable), or an object with configuration.",
        "properties": {
          "end_call": {
            "description": "End call tool - enabled by default. Use true/false to toggle.",
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "object"
              }
            ]
          },
          "transfer_call": {
            "description": "Transfer call tool. When using config object, requires transfer_phone_number.",
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "object",
                "properties": {
                  "transfer_phone_number": {
                    "type": "string",
                    "description": "Phone number to transfer to"
                  }
                },
                "required": ["transfer_phone_number"]
              }
            ]
          },
          "schedule_call": {
            "description": "Schedule call tool. Optional allow_immediate config.",
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "object",
                "properties": {
                  "allow_immediate": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            ]
          },
          "set_language": {
            "description": "Set language tool. Optional language_string config.",
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "object",
                "properties": {
                  "language_string": {
                    "type": "string",
                    "default": "en-US"
                  }
                }
              }
            ]
          },
          "background_audio": {
            "description": "Background audio tool with audio file and volume config.",
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "object",
                "properties": {
                  "audio_files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "env1.wav",
                        "honk1.wav",
                        "market1.wav",
                        "office1.mp3",
                        "office2.mp3",
                        "office3.mp3",
                        "office4.wav",
                        "office5.wav",
                        "temple1.wav",
                        "temple2.wav"
                      ]
                    }
                  },
                  "background_noise_reduce": {
                    "type": "boolean",
                    "default": true
                  },
                  "default_volume": {
                    "type": "number",
                    "minimum": 0.1,
                    "maximum": 1.0,
                    "default": 0.2
                  }
                }
              }
            ]
          },
          "user_idle": {
            "description": "User idle detection with timeout and retry config.",
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "object",
                "properties": {
                  "idle_timeout_seconds": {
                    "type": "number",
                    "minimum": 3,
                    "maximum": 30,
                    "default": 10
                  },
                  "max_retry_count": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10,
                    "default": 3
                  }
                }
              }
            ]
          }
        }
      },
      "AgentCreate": {
        "type": "object",
        "required": ["agent_name", "agent_type", "stt", "llm", "tts"],
        "properties": {
          "agent_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Agent name (1-100 characters)",
            "example": "Customer Support Agent"
          },
          "agent_description": {
            "type": "string",
            "maxLength": 500,
            "description": "Agent description (max 500 characters)"
          },
          "agent_type": {
            "type": "string",
            "enum": ["INBOUND", "OUTBOUND"],
            "description": "Agent type"
          },
          "agent_category": {
            "type": "string",
            "enum": [
              "Customer Service",
              "Sales",
              "Scheduling",
              "Research",
              "Healthcare",
              "Customer Success",
              "Education",
              "Finance",
              "HR",
              "Legal",
              "Productivity",
              "Creative",
              "IT/DevOps",
              "E-commerce",
              "Entertainment",
              "Travel",
              "Wellness",
              "Anime",
              "Cartoon",
              "Gaming",
              "Lifestyle",
              "other"
            ],
            "default": "other",
            "description": "Agent category"
          },
          "agent_tips": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Usage tips for the agent"
          },
          "agent_mobile_number": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Mobile numbers associated with the agent"
          },
          "stt": {
            "$ref": "#/components/schemas/STTConfig"
          },
          "llm": {
            "$ref": "#/components/schemas/LLMConfig"
          },
          "tts": {
            "$ref": "#/components/schemas/TTSConfig"
          },
          "call_analysis_prompt": {
            "type": "object",
            "description": "Optional call analysis prompt reference. Provide custom_prompt to create a new analysis prompt version before linking it to the agent.",
            "properties": {
              "prompt_name": {
                "type": "string",
                "description": "Name of existing analysis prompt"
              },
              "prompt_version": {
                "type": "integer",
                "description": "Specific version (omit for latest)"
              },
              "custom_prompt": {
                "type": "string",
                "description": "Inline analysis prompt content"
              }
            },
            "required": ["prompt_name"]
          },
          "call_analysis_schema": {
            "type": "object",
            "description": "Optional schema for structured call analysis output, keyed by field name.",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "str",
                    "int",
                    "float",
                    "bool",
                    "list",
                    "dict",
                    "Optional[str]",
                    "Optional[int]",
                    "Optional[float]",
                    "Optional[bool]",
                    "Optional[list]",
                    "Optional[dict]"
                  ],
                  "description": "Expected type for this call analysis field."
                }
              },
              "required": ["type"],
              "additionalProperties": false
            },
            "example": {
              "summary": {
                "type": "str"
              },
              "customer_intent": {
                "type": "Optional[str]"
              },
              "follow_up_required": {
                "type": "bool"
              }
            }
          },
          "prompt_content": {
            "type": "string",
            "description": "Inline prompt content \u2014 auto-creates an internal prompt for the agent"
          },
          "prompt": {
            "type": "object",
            "description": "Reference to an existing prompt (alternative to prompt_content)",
            "properties": {
              "prompt_name": {
                "type": "string",
                "description": "Name of existing prompt"
              },
              "prompt_version": {
                "type": "integer",
                "description": "Specific version (omit for latest)"
              }
            },
            "required": ["prompt_name"]
          },
          "first_message_prompt": {
            "type": "string",
            "description": "Agent's greeting message shown when chat starts"
          },
          "tools": {
            "$ref": "#/components/schemas/ToolsConfig"
          },
          "widget_config": {
            "type": "object",
            "description": "Widget configuration for chat interface customization",
            "properties": {
              "widget_interface": {
                "type": "object",
                "description": "Interface settings (enable_chat, mute_button, etc.)"
              },
              "widget_appearance": {
                "type": "object",
                "description": "Appearance settings (variant, placement, etc.)"
              },
              "widget_avatar": {
                "type": "object",
                "description": "Avatar settings (type, colors)"
              },
              "widget_tnc_config": {
                "type": "object",
                "description": "Terms and conditions settings"
              }
            }
          }
        }
      },
      "AgentUpdate": {
        "type": "object",
        "description": "All fields are optional \u2014 only provided fields will be updated.",
        "properties": {
          "agent_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Agent name"
          },
          "agent_description": {
            "type": "string",
            "maxLength": 500,
            "description": "Agent description"
          },
          "agent_type": {
            "type": "string",
            "enum": ["INBOUND", "OUTBOUND"],
            "description": "Agent type"
          },
          "agent_category": {
            "type": "string",
            "enum": [
              "Customer Service",
              "Sales",
              "Scheduling",
              "Research",
              "Healthcare",
              "Customer Success",
              "Education",
              "Finance",
              "HR",
              "Legal",
              "Productivity",
              "Creative",
              "IT/DevOps",
              "E-commerce",
              "Entertainment",
              "Travel",
              "Wellness",
              "Anime",
              "Cartoon",
              "Gaming",
              "Lifestyle",
              "other"
            ],
            "description": "Agent category"
          },
          "agent_tips": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Usage tips"
          },
          "agent_mobile_number": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Mobile numbers associated with the agent"
          },
          "stt": {
            "$ref": "#/components/schemas/STTConfig"
          },
          "llm": {
            "$ref": "#/components/schemas/LLMConfig"
          },
          "tts": {
            "$ref": "#/components/schemas/TTSConfig"
          },
          "call_analysis_prompt": {
            "type": "object",
            "description": "Optional call analysis prompt reference. Provide custom_prompt to create a new analysis prompt version before linking it to the agent.",
            "properties": {
              "prompt_name": {
                "type": "string",
                "description": "Name of existing analysis prompt"
              },
              "prompt_version": {
                "type": "integer",
                "description": "Specific version (omit for latest)"
              },
              "custom_prompt": {
                "type": "string",
                "description": "Inline analysis prompt content"
              }
            },
            "required": ["prompt_name"]
          },
          "call_analysis_schema": {
            "type": "object",
            "description": "Optional schema for structured call analysis output, keyed by field name.",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "str",
                    "int",
                    "float",
                    "bool",
                    "list",
                    "dict",
                    "Optional[str]",
                    "Optional[int]",
                    "Optional[float]",
                    "Optional[bool]",
                    "Optional[list]",
                    "Optional[dict]"
                  ],
                  "description": "Expected type for this call analysis field."
                }
              },
              "required": ["type"],
              "additionalProperties": false
            },
            "example": {
              "summary": {
                "type": "str"
              },
              "customer_intent": {
                "type": "Optional[str]"
              },
              "follow_up_required": {
                "type": "bool"
              }
            }
          },
          "prompt_content": {
            "type": "string",
            "description": "New prompt content \u2014 creates a new version of the agent's internal prompt"
          },
          "prompt": {
            "type": "object",
            "description": "Reference to an existing prompt",
            "properties": {
              "prompt_name": {
                "type": "string"
              },
              "prompt_version": {
                "type": "integer"
              }
            },
            "required": ["prompt_name"]
          },
          "first_message_prompt": {
            "type": "string",
            "description": "Agent's greeting message"
          },
          "tools": {
            "$ref": "#/components/schemas/ToolsConfig"
          },
          "widget_config": {
            "type": "object",
            "description": "Widget configuration",
            "properties": {
              "widget_interface": {
                "type": "object"
              },
              "widget_appearance": {
                "type": "object"
              },
              "widget_avatar": {
                "type": "object"
              },
              "widget_tnc_config": {
                "type": "object"
              }
            }
          }
        }
      },
      "AgentResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Agent ID"
          },
          "agent_name": {
            "type": "string",
            "description": "Agent name"
          },
          "agent_description": {
            "type": "string",
            "description": "Agent description"
          },
          "agent_type": {
            "type": "string",
            "enum": ["INBOUND", "OUTBOUND"],
            "description": "Agent type"
          },
          "agent_category": {
            "type": "string",
            "description": "Agent category"
          },
          "agent_tips": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Usage tips"
          },
          "agent_mobile_number": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Associated mobile numbers"
          },
          "stt": {
            "type": "object",
            "description": "STT configuration"
          },
          "llm": {
            "type": "object",
            "description": "LLM configuration"
          },
          "tts": {
            "type": "object",
            "description": "TTS configuration"
          },
          "sts": {
            "type": "object",
            "description": "STS configuration (if set)"
          },
          "prompt": {
            "type": "object",
            "description": "Prompt reference",
            "properties": {
              "prompt_name": {
                "type": "string"
              },
              "prompt_version": {
                "type": "integer"
              },
              "prompt_content": {
                "type": "string"
              }
            }
          },
          "first_message_prompt": {
            "type": "string",
            "description": "Agent's greeting message"
          },
          "dynamic_variables": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Dynamic variables in the prompt"
          },
          "tools": {
            "type": "object",
            "description": "Configured tools"
          },
          "widget_config": {
            "type": "object",
            "description": "Widget configuration"
          },
          "MediaFiles": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "fileType": {
                  "type": "string"
                },
                "mediaUrl": {
                  "type": "string"
                }
              }
            },
            "description": "Media files associated with the agent"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          }
        }
      },
      "AgentDeleteResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Success message"
          },
          "agent_id": {
            "type": "string",
            "description": "ID of the deleted agent"
          },
          "agent_name": {
            "type": "string",
            "description": "Name of the deleted agent"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Deletion timestamp"
          }
        }
      }
    }
  },
  "paths": {
    "/v1/public/conversations/{conversation_id}": {
      "get": {
        "summary": "Get Conversation by ID",
        "description": "Retrieve detailed information about a specific conversation using its unique ID",
        "operationId": "getConversation",
        "tags": ["Conversations"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier (UUID format) of the conversation to retrieve",
            "schema": {
              "type": "string"
            },
            "example": "35d33a43-176c-405c-92bf-db972035df28"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved conversation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - API key owner doesn't have access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Conversation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/conversations": {
      "get": {
        "summary": "List Conversations",
        "description": "Retrieve a paginated list of conversations with comprehensive filtering options",
        "operationId": "listConversations",
        "tags": ["Conversations"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (minimum: 1)",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Items per page (minimum: 1, maximum: 100)",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search text in conversation metadata",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversation_id",
            "in": "query",
            "description": "Filter by specific conversation ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "description": "Filter by specific agent ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversation_type",
            "in": "query",
            "description": "Filter by conversation type",
            "schema": {
              "type": "string",
              "enum": ["DAILY", "TELEPHONY", "WHATSAPP", "CHAT"]
            }
          },
          {
            "name": "calling_type",
            "in": "query",
            "description": "Filter by call direction",
            "schema": {
              "type": "string",
              "enum": ["INBOUND", "OUTBOUND"]
            }
          },
          {
            "name": "conversation_status",
            "in": "query",
            "description": "Filter by conversation status",
            "schema": {
              "type": "string",
              "enum": ["IN_PROGRESS", "COMPLETED", "DISCONNECTED", "FAILED"]
            }
          },
          {
            "name": "from_date",
            "in": "query",
            "description": "Filter conversations created on or after this date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "description": "Filter conversations created on or after this date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "from_time",
            "in": "query",
            "description": "Filter by time of day - start time (HH:MM format)",
            "schema": {
              "type": "string",
              "pattern": "^([0-1][0-9]|2[0-3]):[0-5][0-9]$"
            }
          },
          {
            "name": "to_time",
            "in": "query",
            "description": "Filter by time of day - end time (HH:MM format)",
            "schema": {
              "type": "string",
              "pattern": "^([0-1][0-9]|2[0-3]):[0-5][0-9]$"
            }
          },
          {
            "name": "timezone_offset",
            "in": "query",
            "description": "Timezone offset in minutes from UTC (default: 330 for IST)",
            "schema": {
              "type": "integer",
              "default": 330
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved conversations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "conversations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Conversation"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "page_size": {
                      "type": "integer"
                    },
                    "total_pages": {
                      "type": "integer"
                    },
                    "has_next": {
                      "type": "boolean"
                    },
                    "has_previous": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/calls/outbound": {
      "post": {
        "summary": "Initiate Outbound Call",
        "description": "Create and initiate one or more outbound calls to phone numbers using AI voice agents",
        "operationId": "createOutboundCall",
        "tags": ["Conversations"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OutboundCallRequest"
              },
              "examples": {
                "single_call": {
                  "summary": "Single outbound call",
                  "value": {
                    "agent_id": "68ea2517dbb84c09bae1ba0a",
                    "params": [
                      {
                        "mobile_number": "+919876543210",
                        "metadata": {
                          "customer_name": "John Doe",
                          "customer_id": "CUST-12345"
                        }
                      }
                    ],
                    "telephony_provider": "PLIVO"
                  }
                },
                "multiple_calls": {
                  "summary": "Multiple outbound calls",
                  "value": {
                    "agent_id": "68ea2517dbb84c09bae1ba0a",
                    "params": [
                      {
                        "mobile_number": "+919876543210",
                        "metadata": {
                          "customer_name": "John Doe"
                        }
                      },
                      {
                        "mobile_number": "+918765432109",
                        "metadata": {
                          "customer_name": "Jane Smith"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Calls initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Outbound calls initiated successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Not authorized or quota exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "User or agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/chat": {
      "post": {
        "summary": "Send Chat Message",
        "description": "Send a message to an AI agent and receive a response with optional streaming",
        "operationId": "sendChatMessage",
        "tags": ["Chat"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatRequest"
              },
              "examples": {
                "streaming": {
                  "summary": "Streaming chat request",
                  "value": {
                    "agent_id": "68ea2517dbb84c09bae1ba0a",
                    "message": "Hello, how can you help me?",
                    "streaming": true
                  }
                },
                "non_streaming": {
                  "summary": "Non-streaming chat request",
                  "value": {
                    "agent_id": "68ea2517dbb84c09bae1ba0a",
                    "message": "What are your business hours?",
                    "streaming": false
                  }
                },
                "with_session": {
                  "summary": "Continue existing conversation",
                  "value": {
                    "agent_id": "68ea2517dbb84c09bae1ba0a",
                    "session_id": "58a6b549-ef07-4a31-86bc-0eb0e026840a",
                    "message": "Tell me more about that",
                    "streaming": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat response (JSON for non-streaming, text/plain stream for streaming)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Streaming response text"
                }
              }
            },
            "headers": {
              "X-Session-ID": {
                "description": "Session ID for subsequent messages (streaming mode)",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Agent has no LLM configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied to agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/chat/sessions": {
      "get": {
        "summary": "List Chat Sessions",
        "description": "Retrieve a paginated list of all chat sessions for your agents",
        "operationId": "listChatSessions",
        "tags": ["Chat"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (minimum: 1)",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Items per page (minimum: 1, maximum: 100)",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "description": "Filter sessions by agent ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved chat sessions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ChatSession"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "page_size": {
                      "type": "integer"
                    },
                    "total_pages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied to agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/chat/sessions/{session_id}": {
      "get": {
        "summary": "Get Chat Session",
        "description": "Retrieve complete details and messages for a specific chat session",
        "operationId": "getChatSession",
        "tags": ["Chat"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "description": "The unique session ID",
            "schema": {
              "type": "string"
            },
            "example": "58a6b549-ef07-4a31-86bc-0eb0e026840a"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved chat session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatSessionDetail"
                }
              }
            }
          },
          "400": {
            "description": "Session is not a chat session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied to session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/agents/{agent_id}/first-message": {
      "get": {
        "summary": "Get First Message",
        "description": "Retrieve the agent's greeting message to initialize a chat session",
        "operationId": "getFirstMessage",
        "tags": ["Chat"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "description": "The unique agent ID",
            "schema": {
              "type": "string"
            },
            "example": "68ea2517dbb84c09bae1ba0a"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved first message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FirstMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied to agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/agents/{agent_id}/dynamic-variables": {
      "get": {
        "summary": "Get Agent Dynamic Variables",
        "description": "Retrieve normalized dynamic variable definitions for a specific agent.",
        "operationId": "getAgentDynamicVariables",
        "tags": ["Agents"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "description": "The unique agent ID",
            "schema": {
              "type": "string"
            },
            "example": "68ea2517dbb84c09bae1ba0a"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved agent dynamic variables",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentDynamicVariablesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied to agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/prompts": {
      "post": {
        "summary": "Create Prompt",
        "description": "Create a new prompt or a new version of an existing prompt. If a prompt with the same name exists, a new version is auto-created with an incremented version number.",
        "operationId": "createPrompt",
        "tags": ["Prompts"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptCreate"
              },
              "examples": {
                "basic": {
                  "summary": "Create a simple prompt",
                  "value": {
                    "prompt_name": "customer_support_v1",
                    "prompt_content": "You are a helpful customer support agent. Be polite and professional.",
                    "prompt_metadata": {
                      "prompt_type": "main"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Prompt created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Prompts",
        "description": "Retrieve a paginated list of prompts. Returns the latest version of each prompt by default.",
        "operationId": "listPrompts",
        "tags": ["Prompts"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Items per page (max: 100)",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search in prompt name and content",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latest_only",
            "in": "query",
            "description": "Return only latest versions",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved prompts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "prompts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PromptResponse"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "page_size": {
                      "type": "integer"
                    },
                    "total_pages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/prompts/{prompt_name}": {
      "get": {
        "summary": "Get Prompt",
        "description": "Retrieve a specific prompt by name. Returns the latest version by default, or a specific version if the version query parameter is provided.",
        "operationId": "getPrompt",
        "tags": ["Prompts"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "prompt_name",
            "in": "path",
            "required": true,
            "description": "The unique prompt name",
            "schema": {
              "type": "string"
            },
            "example": "customer_support_v1"
          },
          {
            "name": "version",
            "in": "query",
            "description": "Specific version to retrieve (omit for latest)",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved prompt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update Prompt",
        "description": "Update a prompt by creating a new version. The version number is automatically incremented.",
        "operationId": "updatePrompt",
        "tags": ["Prompts"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "prompt_name",
            "in": "path",
            "required": true,
            "description": "The unique prompt name",
            "schema": {
              "type": "string"
            },
            "example": "customer_support_v1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptUpdate"
              },
              "examples": {
                "update": {
                  "summary": "Update prompt content",
                  "value": {
                    "prompt_content": "You are an expert customer support agent with 10 years of experience. Always be empathetic and solution-oriented."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prompt updated (new version created)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Prompt",
        "description": "Permanently delete all versions of a prompt. Cannot delete a prompt currently used by any agent.",
        "operationId": "deletePrompt",
        "tags": ["Prompts"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "prompt_name",
            "in": "path",
            "required": true,
            "description": "The unique prompt name",
            "schema": {
              "type": "string"
            },
            "example": "customer_support_v1"
          }
        ],
        "responses": {
          "200": {
            "description": "Prompt deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptDeleteResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/prompts/{prompt_name}/versions": {
      "get": {
        "summary": "Get Prompt Versions",
        "description": "Retrieve all versions of a specific prompt, sorted by version number (descending).",
        "operationId": "getPromptVersions",
        "tags": ["Prompts"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "prompt_name",
            "in": "path",
            "required": true,
            "description": "The unique prompt name",
            "schema": {
              "type": "string"
            },
            "example": "customer_support_v1"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved prompt versions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptVersionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/agents": {
      "post": {
        "summary": "Create Agent",
        "description": "Create a new AI agent with complete configuration including STT, LLM, TTS, prompt, call analysis configuration, tools, and widget settings. Supports two modes for prompt: inline prompt_content (auto-creates internal prompt) or reference to an existing prompt by name.",
        "operationId": "createAgent",
        "tags": ["Agents"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentCreate"
              },
              "examples": {
                "basic": {
                  "summary": "Create agent with inline prompt",
                  "value": {
                    "agent_name": "Support Agent",
                    "agent_type": "INBOUND",
                    "agent_category": "Customer Service",
                    "stt": {
                      "provider_name": "DEEPGRAM",
                      "model_name": "nova-2",
                      "language": "en",
                      "params": {}
                    },
                    "llm": {
                      "provider_name": "OPENAI",
                      "model_name": "gpt-4o",
                      "params": {
                        "temperature": 0.7
                      }
                    },
                    "tts": {
                      "provider_name": "CARTESIA",
                      "model_name": "sonic-2",
                      "language": "en",
                      "voice_id": "a0e99841-438c-4a64-b679-ae501e7d6091",
                      "params": {
                        "speed": 1.0
                      }
                    },
                    "prompt_content": "You are a helpful customer support agent.",
                    "call_analysis_prompt": {
                      "prompt_name": "support_call_analysis",
                      "custom_prompt": "Analyze the call outcome, customer sentiment, and follow-up actions."
                    },
                    "call_analysis_schema": {
                      "call_outcome": {
                        "type": "str"
                      },
                      "customer_sentiment": {
                        "type": "str"
                      },
                      "follow_up_required": {
                        "type": "bool"
                      }
                    },
                    "first_message_prompt": "Hello! How can I help you today?",
                    "tools": {
                      "end_call": true,
                      "transfer_call": {
                        "transfer_phone_number": "+919876543210"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Agents",
        "description": "Retrieve a paginated list of all agents owned by the API key holder. Supports filtering by type, category, and search.",
        "operationId": "listAgents",
        "tags": ["Agents"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Items per page (max: 100)",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search in agent name and description",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_type",
            "in": "query",
            "description": "Filter by agent type",
            "schema": {
              "type": "string",
              "enum": ["INBOUND", "OUTBOUND"]
            }
          },
          {
            "name": "agent_category",
            "in": "query",
            "description": "Filter by agent category",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agents": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AgentResponse"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "page_size": {
                      "type": "integer"
                    },
                    "total_pages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/agents/{agent_id}": {
      "get": {
        "summary": "Get Agent",
        "description": "Retrieve complete agent configuration by ID, including all STT/LLM/TTS settings, prompt, tools, and widget config.",
        "operationId": "getAgent",
        "tags": ["Agents"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "description": "The unique agent ID",
            "schema": {
              "type": "string"
            },
            "example": "68ea2517dbb84c09bae1ba0a"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update Agent",
        "description": "Update an existing agent. Only provided fields will be updated. If prompt_content is provided, creates a new version of the agent's internal prompt. If call_analysis_prompt.custom_prompt is provided, a new version of the analysis prompt is created before the agent is updated.",
        "operationId": "updateAgent",
        "tags": ["Agents"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "description": "The unique agent ID",
            "schema": {
              "type": "string"
            },
            "example": "68ea2517dbb84c09bae1ba0a"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentUpdate"
              },
              "examples": {
                "update_name": {
                  "summary": "Update agent name and prompt",
                  "value": {
                    "agent_name": "Updated Support Agent",
                    "prompt_content": "You are an updated customer support agent.",
                    "call_analysis_prompt": {
                      "prompt_name": "support_call_analysis",
                      "custom_prompt": "Return the summary, customer intent, and next best action."
                    },
                    "call_analysis_schema": {
                      "summary": {
                        "type": "str"
                      },
                      "customer_intent": {
                        "type": "Optional[str]"
                      },
                      "next_best_action": {
                        "type": "str"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Agent",
        "description": "Permanently delete an agent and its associated internal prompt.",
        "operationId": "deleteAgent",
        "tags": ["Agents"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "description": "The unique agent ID",
            "schema": {
              "type": "string"
            },
            "example": "68ea2517dbb84c09bae1ba0a"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentDeleteResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/providers": {
      "get": {
        "summary": "List Providers",
        "description": "Get all available STT, LLM, and TTS providers with their supported models. Use this to understand available options when configuring agents.",
        "operationId": "listProviders",
        "tags": ["Utilities"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved providers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "llm": {
                      "type": "object",
                      "description": "LLM providers with their models",
                      "example": {
                        "OPENAI": ["gpt-4o", "gpt-4o-mini"],
                        "ANTHROPIC": ["claude-sonnet-4-20250514"]
                      }
                    },
                    "tts": {
                      "type": "object",
                      "description": "TTS providers with their models"
                    },
                    "stt": {
                      "type": "object",
                      "description": "STT providers with their models"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/voices": {
      "get": {
        "summary": "List Voices",
        "description": "Retrieve available voices from a specific TTS provider with optional filtering by language, gender, model, and search terms.",
        "operationId": "listVoices",
        "tags": ["Utilities"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "required": true,
            "description": "Voice provider (CARTESIA, ELEVENLABS, SARVAM, GOOGLE, HUME)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Items per page (max: 100)",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Filter by language code (e.g., en, hi, es)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gender",
            "in": "query",
            "description": "Filter by gender",
            "schema": {
              "type": "string",
              "enum": ["MALE", "FEMALE", "NEUTRAL"]
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search by voice name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "show_cloned_only",
            "in": "query",
            "description": "Show only cloned voices",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "model",
            "in": "query",
            "description": "Filter by model (e.g., bulbul:v2)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved voices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "voices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Voice ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Voice name"
                          },
                          "provider": {
                            "type": "string"
                          },
                          "gender": {
                            "type": "string"
                          },
                          "language": {
                            "type": "string"
                          },
                          "preview_url": {
                            "type": "string",
                            "description": "URL to preview the voice"
                          }
                        }
                      }
                    },
                    "total_count": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "page_size": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/mobile-numbers": {
      "get": {
        "summary": "Get Mobile Numbers",
        "description": "Retrieve the API key owner's purchased/rented mobile numbers with telephony provider information.",
        "operationId": "getMobileNumbers",
        "tags": ["Utilities"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved mobile numbers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "string",
                      "description": "User ID"
                    },
                    "purchased_mobile_numbers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "mobile_number": {
                            "type": "string",
                            "description": "Phone number in E.164 format"
                          },
                          "telephony_provider": {
                            "type": "string",
                            "description": "Provider (PLIVO, TWILIO)"
                          }
                        }
                      },
                      "description": "List of purchased mobile numbers"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
[...]
